.aboutMk {
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	/* color: #16608A; */
	display: block;
	text-align: center;
    margin: auto;
    padding-top: 10px;
}

/* #homeFloral2 {
    margin-top: 50px;
    float: right;
    margin-right: 75px;
} */

.navBar {
    display: block;
    text-align: center;
    padding-top: 10px;
}

li {
	display: inline;
	padding: 20px;
}

#homeImg {
    position: absolute;
    top: 50%;
	left: 38%;
    z-index: -1;
    transform: translate(-50%, -50%);
    padding-top: 100px;
}

#leftFlower {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


#rightFlower {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landingInfo {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    left: 21%;
}

#clickInfo {
    position: relative;
    background-color:#f9e0dc8a;
    color:  #4e6d4d;
    padding: 10px;
    padding-top: 5px;
    margin-top: 2px;
}

#book {
    color: grey;
}

h3, h4, p {
    font-family: 'Karla', sans-serif;
}

.karla {
    font-family: 'Karla', sans-serif;
}

.karlaBold {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.btn-info {
    background-color: grey;
}

.accomodations {
    font-family: 'Playfair Display', serif;
}

.registry {
    font-family: 'Playfair Display', serif;
}

.hiddenSmView {
    visibility: hidden;
}

/* @media only screen and (max-width: 1025px) {
    #homeImg {
        position: absolute;
        top: 25%;
        left: 38%;
        z-index: -1;
        transform: translate(-50%, -50%);
        padding-top: 100px;
    }

    #landingInfo {
        position: relative;
        margin-top: 0px;
        padding: 10px;
        margin-left: 40px;
    }
} */
/*  */

/* @media only screen and (max-width: 992px) {
    #leftFlower {
        width: 400px;
        height: auto;
    }
    #homeImg {
        position: absolute;
    
    }
} */

@media only screen and (max-width: 1025px) {
    .hiddenSmView {
        visibility: visible;
        display: block;
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
    }


    .row {
        visibility: hidden;
    }
}



/* home bulma */

.button.is-info.is-outlined {
    background-color: transparent;
    border-color:#f9e0dc8a;
    color: #f9e0dc8a;
}