
.aboutMk {
	/* font-family: 'Clicker Script', cursive; */
	font-size: 20px;
	/* color: #16608A; */
	display: block;
	text-align: center;
	margin: auto;
}

#homeFloral2 {
    margin-top: 50px;
    float: right;
    margin-right: 75px;
}