
.aboutMk {
	/* font-family: 'Clicker Script', cursive; */
	font-size: 20px;
	/* color: #16608A; */
	display: block;
	text-align: center;
    margin: auto;
    padding-top: 10px;
}

/* #homeFloral2 {
    margin-top: 50px;
    float: right;
    margin-right: 75px;
} */

.navBar {
    display: block;
    text-align: center;
    padding-top: 10px;
}

li {
	display: inline;
	padding: 20px;
}

#homeImg {
    position: absolute;
    top: 50%;
	left: 38%;
    z-index: -1;
    transform: translate(-50%, -50%);
    padding-top: 100px;
}

#leftFlower {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#rightFlower {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landingInfo {
    position: relative;
    margin-top: 1%;
    padding: 10px;
    left: 21%;
}

#clickInfo {
    background-color:#f9e0dc8a;
    color:  #4e6d4d;
    padding: 10px;
    padding-top: 5px;
    margin-top: 2px;
}

#book {
    color: grey;
}